.fadeInSlideUp-1st {
  animation: fadeInSlideUp 0.3s linear forwards;
}

.fadeInSlideUp-2nd {
  animation: fadeInSlideUp 0.3s 0.3s linear forwards;
}

.fadeInSlideUp-3rd {
  animation: fadeInSlideUp 0.3s 0.6s linear forwards;
}

.fadeInSlideUp-4th {
  animation: fadeInSlideUp 0.3s 0.9s linear forwards;
}
.fadeIn-4th {
  animation: fadeInSlideUp 0.3s 0.9s linear forwards;
}

.fadeIn-5th {
  animation: fadeIn 0.3s 1.5s linear forwards;
}

.fadeIn-6th {
  animation: fadeIn 0.3s 1.8s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 0.5rem, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* FAQ Dropdown Animation */
details p {
  animation: fadeIn 0.3s ease-in forwards;
}
