/*///////////////////*/
/* BLOG CARD COLOR */
/*////////////////*/
.blog-post-card {
  --blog-card-link-color: var(--color-10-1);
  --blog-card-bg-color: var(--color-60-dark);
  background-color: var(--color-60-dark);
}

.blog-container {
  /*////////////////////*/
  /* BLOG POST COLORS */
  /*/////////////////*/
  /* TEXT COLOR */
  --blog-bg-color: hsl(0, 0%, 100%);
  --blog-text-color: hsl(0, 0%, 20%);
  --blog-text-color-lighter: hsl(0, 0%, 30%);
  --blog-header-color: #212121;
  /* BLOCKQUOTES COLOR */
  --block-bg-color: hsl(0, 0%, 98%);
  --block-border-color: #ccc;
  --block-text-color: #313131;
  --block-text-link-color: #4c4cb9;
  /* AUXILLARY COLORS */
  --link-color: #4c4cb9;
  /* SUBSCRIBE BLOCK */
  --button-color: #ec4e20;
  --button-hover-color: #fa5d2f;
  --button-text-color: hsl(0, 0%, 100%);
  --input-text-color: rgba(160, 174, 192, 1);
}

.blog-container ol {
  list-style: decimal;
  margin-left: 1rem;
}

/* SUBHEADER: PUBLISH DATE and FOLLOW BUTTON */
.subheader-info {
  color: var(--blog-text-color-lighter);
}

/* FONTS and PADDING */
.blog-header {
  font-size: 2rem;
}

.blog-back-arrow {
  color: var(--blog-header-color);
}

.blog h1 {
  @apply font-bold;
}

.blog h2 {
  @apply font-bold;
  @apply text-3xl;
  @apply pt-12;
  @apply pb-4;
}

.blog h3 {
  @apply font-bold;
  @apply text-2xl;
  @apply pt-12;
  @apply pb-4;
}

.blog h4 {
  @apply font-bold;
  @apply text-lg;
  @apply pt-10;
  @apply pb-2;
}

.blog p,
.blog li {
  font-size: 18px;
  font-weight: 300;
}

.blog p {
  @apply py-2;
}

.blog ol,
.blog ul {
  @apply py-4;
}

.blog li {
  @apply py-1;
}

.blog blockquote {
  background: var(--block-bg-color);
  border-color: var(--block-border-color);
  @apply border-l-8;
  @apply rounded-md;
  @apply py-4;
  @apply px-8;
  @apply my-8;
  @apply mx-4;
}

.blog blockquote p {
  @apply text-lg;
}

.blog hr {
  @apply mt-12;
}

.custom-twitter-share-button {
  @apply text-lg;
}

@screen md {
  .blog h1 {
    @apply text-5xl;
  }

  .custom-twitter-share-button {
    @apply text-xl;
  }
}

/* COLOURS */
.blog-container {
  background-color: var(--blog-bg-color);
}

.blog-post-card .read-more-link {
  color: var(--blog-card-link-color);
}

.blog-post-card .read-more-link svg {
  margin-top: 3px;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6,
.blog li {
  color: var(--blog-header-color);
}

.blog p {
  color: var(--blog-text-color);
}
.blog a {
  color: var(--blog-text-color-lighter);
  @apply underline;
  text-decoration-style: wavy;
  text-decoration-width: 2px;
  text-decoration-color: var(--link-color);
}

.blog strong {
  @apply font-medium;
}

.blog a:hover {
  color: var(--link-color);
}

.share-buttons-wrapper {
  background-color: var(--block-bg-color);
}

@media (min-width: 768px) {
  .share-buttons-wrapper {
    background-color: var(--blog-bg-color);
  }
}

.custom-twitter-share-button {
  color: var(--block-text-color);
}

.blog blockquote {
  background-color: var(--block-bg-color);
}

.blog blockquote p {
  color: var(--block-text-color);
}

.blog blockquote a {
  /* color: var(--block-text-link-color); */
}

.subscribe-input {
  color: var(--input-text-color);
}

.subscribe-input:focus {
  outline: none;
  border: 1px solid var(--button-color);
}

.custom-subscribe-button {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.custom-subscribe-button:hover {
  background-color: var(--button-hover-color);
}

/*////////////////////*/
/* SUBSCRIPTION FORM */
/*//////////////////*/
.subscription-form {
  @apply my-2;
}

/* WARNING MESSAGES */
.subscription-form .success {
  background: #d3fbeb;
  border-color: #10bf7a;
  color: #0c905c;
  @apply my-2;
  @apply p-3;
  @apply text-xs;
}

.subscription-form .error {
  background: hsl(4, 83%, 91%);
  border-color: hsl(4, 85%, 41%);
  color: hsl(4, 85%, 31%);
  @apply my-2;
  @apply p-3;
  @apply text-xs;
}

/*////////////////////*/
/* SUBSCRIPTION FORM THEMING */
/*//////////////////*/

.light {
  --form-bg-color: hsl(210, 38%, 90%);
  --form-header-color: hsl(220, 25.7%, 13.7%);
  --form-text-color: hsl(208.8, 10.5%, 29%);
  --form-footer-text-color: hsl(208.8, 10.5%, 35%);
  --form-input-bg-color: rgb(255, 255, 255);
  --form-input-border: 1px solid rgb(203, 213, 224);
  --button-color: #ec4e20;
}

.dark {
  --form-bg-color: #171820;
  --form-header-color: rgba(255, 255, 255, 1);
  --form-text-color: rgba(255, 255, 255, 0.8);
  --form-footer-text-color: rgba(255, 255, 255, 0.5);
  --form-input-bg-color: #252734;
  --form-input-border: none;
  --button-color: #ec4e20;
  --button-hover-color: #fa5d2f;
}

.subscribe-text-container,
.subscribe-action {
  background-color: var(--form-bg-color);
}

.connect-form h1 {
  color: var(--form-header-color);
}

.connect-form p {
  color: var(--form-text-color);
}

.connect-form .form-footer-text {
  color: var(--form-footer-text-color);
}

.connect-form input {
  background-color: var(--form-input-bg-color);
  border: var(--form-input-border);
}
