.blog-container {
  /* TEXT COLOR */
  --blog-bg-color: hsl(0, 0%, 100%);
  --blog-text-color: hsl(0, 0%, 20%);
  --blog-header-color: #212121;
  /* BLOCKQUOTES COLOR */
  --block-bg-color: hsl(0, 0%, 98%);
  --block-border-color: #ccc;
  --block-text-color: #313131;
  --block-text-link-color: #4c4cb9;
  /* AUXILLARY COLORS */
  --link-color: #4c4cb9;
  /* SUBSCRIBE BLOCK */
  --button-color: #5f5fce;
  --button-text-color: hsl(0, 0%, 100%);
  --input-text-color: rgba(160, 174, 192, 1);

  /* SOME SPACE ADDED TO END OF POST */
  @apply pb-20;
}

/* FONTS and PADDING */

.blog h1 {
  @apply text-4xl;
  @apply py-12;
}

@screen md {
  .blog h1 {
    @apply text-5xl;
  }
}

.blog h2 {
  @apply text-3xl;
  @apply pt-12;
  @apply pb-4;
}

.blog h3 {
  @apply text-2xl;
  @apply pt-12;
  @apply pb-4;
}

.blog h4 {
  @apply text-lg;
  @apply pt-10;
  @apply pb-2;
}

.blog p,
.blog li {
  @apply text-base;
}

.blog p {
  @apply py-2;
}

.blog ol,
.blog ul {
  @apply py-4;
}

.blog li {
  @apply py-1;
}

.blog blockquote {
  background: var(--block-bg-color);
  border-color: var(--block-border-color);
  @apply border-l-8;
  @apply rounded-md;
  @apply py-4;
  @apply px-8;
  @apply my-12;
  @apply mx-4;
}

.blog blockquote p {
  @apply text-lg;
}

.blog hr {
  @apply mt-12;
}

/* COLOURS */
.blog-container {
  background-color: var(--blog-bg-color);
}

.blog h1,
h2,
h3,
h4,
h5,
h6,
li {
  color: var(--blog-header-color);
}

.blog p {
  color: var(--blog-text-color);
}
.blog a {
  color: var(--link-color);
  @apply font-medium;
}

.blog a:hover {
  text-decoration: underline;
}

.blog blockquote {
  background-color: var(--block-bg-color);
}

.blog blockquote p {
  color: var(--block-text-color);
}

.blog blockquote a {
  color: var(--block-text-link-color);
}

.subscribe-input:focus {
  outline: none;
  border: 1px solid var(--link-color);
  color: var(--input-text-color);
}

.subscribe-button {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.subscribe-button:hover {
  background-color: var(--link-color);
}
