:root {
  --color-60-lighter: rgb(255, 255, 255);
  --color-60-transp: #ffffffbf;
  --color-60-light: rgb(237, 253, 238);
  --color-60-medium-light: #31323b;
  --color-60-medium: hsl(234, 16%, 20%);
  --color-60-medium-dark: hsl(234, 16%, 13%);
  --color-60-dark: #171820;
  --color-30-1: #ffffffcb;
  --color-accent-main: #ff6663;
  --color-accent-main-lighter: #ff7370;
  --color-accent-sec: #03cea4;
  --color-accent-sec-lighter: #0edfb5;

  --border-color: #eceeef;

  --color-illustration: #5626a9;
  --color-illustration-light: #6635bb;

  /* Overlay Colours */
  --initial-color-overlay: rgba(31, 31, 31, 0.4);
  --mid-colour-overlay: rgba(31, 31, 31, 0.6);
  --final-colour-overlay: rgb(31, 31, 31);

  /* Toolbox Colours */
  --tool-color: var(--color-accent-sec);
  --tool-name-color: var(--color-60-transp);
  --toolbox-header-color: var(--color-60-transp);
  --tool-bg-color: var(--color-60-medium-dark);

  /* Card Colours */
  --card-bg-color: var(--color-60-dark);
  --card-header-color: #ffffff;
  --card-text-color: #ffffffd2;

  /* FAQ Colours */
  --faq-bg-color: hsla(0, 0%, 12%, 0.8);

  /* Project Card Colors */
  --project-card-header-color: rgba(255, 255, 255, 0.9);
  --project-card-description-color: rgba(255, 255, 255, 0.8);
  --project-card-tech-color: rgba(255, 255, 255, 0.55);
  --project-card-tech-border-color: rgba(255, 255, 255, 0.4);

  /* Project Card Sec CTA */
  --project-button-sec-bg-color: var(--color-60-medium);
  --project-button-sec-bg-color-active: var(--color-60-medium-light);
  --project-button-sec-text-color: var(--color-60-transp);

  /* FORM COLOURS */
  --placeholder-color: var(--color-60-transp);

  /*  STATUS COLOURS  */
  --error-color: #ff3366;
  --default-color: #d6edff;
  --success-color: #81e979;
}
/*////////////////*/
/* FOCUS COLOURS */
/*//////////////*/
/* CTA buttons have a focus shadow lighter than thier bg colour for clear colour differentiation */
.landing-cta-1:focus,
.landing-cta-2:focus {
  box-shadow: 0 0 0 3px #fcb6a1;
}

/* REVISIT AND REFACTOR COLOURS USING CALC
  https://itnext.io/theming-with-css-custom-properties-variables-and-calc-a89b37ad0013*/

/* DARK THEME */
/* [data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
} */
body {
  color: var(--color-60-light);
  background-color: var(--color-60-medium);
  scrollbar-color: rgb(83, 83, 83) #333;
}

body::-webkit-scrollbar {
  color: #333;
}

body::-webkit-scrollbar-track {
  background: #333;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(83, 83, 83);
  border-radius: 6px;
}

nav {
  background-color: var(--color-60-medium-dark);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease-out;
}

p {
  color: var(--color-60-transp);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-60-light);
}

strong.landing {
  color: var(--color-accent-main);
}
/*/////////////////*/
/* SCROLL EFFECTS */
/*///////////////*/
/* HIDE/SHOW HEADER */
.visible {
  visibility: visible;
  opacity: 1;
}

/* HEADER */
header {
  box-shadow: 0px 2px 10px rgba(236, 78, 32, 0.05);
}

/* LANDING */
.landing-title,
.landing-description {
  color: var(--color-60-light);
}
.animated-goal {
  animation: fadeInSlide 0.5s ease-in infinite;
  position: relative;
}

.free-ribbon .price {
  color: var(--color-60-transp);
  text-decoration-color: var(--color-60-light);
}

/* PATTERN BACKGROUND */
.pattern-bg {
  background-color: var(--color-60-dark);
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      var(--color-60-dark) 20%,
      var(--color-60-dark) 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        var(--color-60-dark) 20%,
        var(--color-60-dark) 80%,
        transparent 80%,
        transparent
      )
      35px 35px,
    linear-gradient(
        var(--color-60-medium-dark) 2.8000000000000003px,
        transparent 2.8000000000000003px
      )
      0 -1.4000000000000001px,
    linear-gradient(
        90deg,
        var(--color-60-medium-dark) 2.8000000000000003px,
        var(--color-60-dark) 2.8000000000000003px
      ) -1.4000000000000001px 0;
  background-size: 70px 70px, 70px 70px, 35px 35px, 35px 35px;
}

/*/////////////////////////*/
/* CALL TO ACTION BUTTONS */
/*///////////////////////*/
/* .project-site, */

.get-in-touch,
.case-launch-button,
.landing-cta-1 {
  color: var(--color-60-light);
  background-color: var(--color-accent-main);
}

.contact-button {
  background-color: var(--color-accent-sec);
}

.contact-button:hover {
  background-color: var(--color-accent-sec-lighter);
}

.free-ribbon {
  background-color: var(--color-illustration);
}

.view-projects-container {
  color: var(--color-accent-main);
}

.view-projects-icon-container {
  color: var(--color-accent-main);
  border-color: var(--color-accent-main);
}

.email-field {
  background-color: var(--color-60-light);
  color: var(--color-60-medium-dark);
  opacity: 0.9;
}

.email-field:hover {
  opacity: 1;
}

/* //////////////////////// */
/* Case Study landing page */
/* //////////////////////// */
.launch-project {
  background-color: var(--color-illustration);
}

.launch-project:hover {
  background-color: var(--color-illustration-light);
}

.case-specs-info div > h3 {
  color: var(--color-accent-main);
}

.get-in-touch-container {
  background-color: var(--color-60-dark);
}

.display-container {
  background-color: var(--color-60-medium-light);
}

/* .project-site:hover, */
.get-in-touch:hover,
.landing-cta-1:hover {
  background-color: var(--color-accent-main-lighter);
}

.reply-indicator {
  color: var(--color-30-1);
}

/* This is for the 2nd cta button and the unused projects component */
.landing-cta-2
/* .project-code */ {
  border-color: var(--color-60-light);
  background-color: none;
  color: var(--color-60-light);
}

.landing-cta-2:hover {
  background-color: var(--color-60-light);
  color: var(--color-60-dark);
}
/*////////*/
/* ICONS */
/*//////*/
.icon {
  transition: all ease-in 0.15s;
}
.icon:hover {
  opacity: 1;
  transform: scale3d(1.1, 1.1, 1);
}

.benefit-icon {
  background-color: var(--color-illustration);
}

/*/////////////////////*/
/* LANDING CONTAINER */
/*///////////////////*/

/*/////////////////////*/
/* PERSONAL CONTAINER */
/*///////////////////*/
.personal-container {
  background-color: var(--color-60-dark);
}
/*/////////////////////*/
/* SERVICE CONTAINER */
/*///////////////////*/
.service-container {
  background-color: var(--color-60-medium-dark);
}

/*/////////////////////*/
/* BENEFITS CONTAINER */
/*///////////////////*/
.benefits-container {
  background-color: var(--color-60-medium-dark);
}

/*/////////////////////*/
/* PROMISES CONTAINER */
/*///////////////////*/
.promises-container {
  background-color: var(--color-60-medium-dark);
}

/*/////////////////////*/
/* PROJECTS CONTAINER */
/*///////////////////*/

/*/////////////////////*/
/* SITE REVIEW CONTAINER */
/*///////////////////*/
.site-review-container {
  background-color: var(--color-60-dark);
}

/*/////////////////////*/
/* FAQS CONTAINER */
/*///////////////////*/
.faqs-container {
  background-color: var(--color-60-medium);
}

.faqs-container li {
  background-color: var(--color-60-dark);
}

/*/////////////////////*/
/* CONTACT CONTAINER */
/*///////////////////*/
.contact-container {
  background-color: var(--color-60-medium-dark);
}
/*////////*/
/* CARDS */
/*//////*/
.card-color {
  background-color: var(--color-30-1);
}

.card-color p {
  color: var(--color-60-medium-dark);
}

.card-color h6 {
  color: var(--color-60-dark);
}

.text-link {
  color: var(--color-accent-main);
}

.text-link:hover {
  color: var(--color-accent-main-lighter);
}

.service-card {
  background-color: var(--card-bg-color);
}

.service-card .icon-container {
  background-color: var(--card-header-color);
}

.service-card .icon-container svg {
  color: var(--color-60-dark);
}

.service-card-icon {
  color: var(--card-header-color);
}

.service-card h6 {
  color: var(--card-header-color);
}

.service-card p {
  color: var(--card-text-color);
}

/*/////////////*/
/* LIST ITEMS */
/*///////////*/
.promises-container div {
  counter-increment: promise-counter;
}

.promise-header-container .counter {
  padding: 0.1em 0.5em;
  width: 2em;
  height: 2em;
  background-color: var(--color-accent-main);
  color: var(--color-60-lighter);
}

.benefit-icon {
  color: var(--color-accent-main);
}

/*/////////////////////////*/
/* //////PROJECT CARDS/// */
/*///////////////////////*/
.project-container {
  background-color: var(--color-60-medium-dark);
}

.project-container h2 {
  color: var(--project-card-header-color);
}

.project-container p {
  color: var(--project-card-description-color);
}

.project-site-link {
  color: var(--color-60-light);
  background-color: var(--color-illustration);
}
.project-site-link:hover,
.project-site-link:focus {
  color: var(--color-60-light);
  background-color: var(--color-illustration-light);
}

.project-code-link {
  color: var(--project-button-sec-text-color);
  background-color: var(--project-button-sec-bg-color);
}

.project-code-link:hover,
.project-code-link:focus {
  color: var(--project-button-sec-text-color);
  background-color: var(--project-button-sec-bg-color-active);
}

.project-tech-container {
  color: var(--project-card-tech-color);
}

.project-tech-container a {
  border-color: var(--project-card-tech-border-color);
}

.tech-link:hover,
.tech-link:focus {
  border-color: var(--color-10-light);
  color: var(--color-10-light);
}

/*//////////*/
/* TOOLBOX */
/*////////*/
.toolbox-container {
}

/*Tool*/
.tool {
  background-color: var(--tool-bg-color);
}

.tool svg {
  fill: var(--tool-color);
}

.tool span {
  color: var(--tool-name-color);
}

.tool h5 {
  color: var(--toolbox-header-color);
}

summary::-webkit-details-marker {
  display: none;
}
summary::before {
  font-size: 1.5em;
  padding: 0 0.5rem 0 0;
}

details p {
  color: var(--color-60-light);
}

.open summary::before {
  color: var(--color-accent-main-lighter);
}

.open summary {
  color: var(--color-accent-main-lighter);
}

svg {
  transition: transform 0.2s ease-in;
}

.open svg {
  transform: rotate(180deg);
}

.quotes-container span {
  border-color: var(--color-30-1);
}

.footer-content-1,
.footer-content-2 {
  color: var(--color-60-transp);
}

.footer-icons a:hover {
  color: var(--color-60-light);
}

.footer-content a:hover {
  text-decoration: underline;
}

/* ANIMATION */
@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translate3d(0, 15%, 0);
  }

  25% {
    opacity: 0.25;
    transform: translate3d(0, 11.25%, 0);
  }

  50% {
    opacity: 0.5;
    transform: translate3d(0, 7.5%, 0);
  }

  75% {
    opacity: 0.75;
    transform: translate3d(0, 3.75%, 0);
  }

  100% {
    opacity: 1;
    tranform: translate3d(0, 0%, 0);
  }
}
