:root {
  /* Dark blue Purple */
  /* #396AB2 */

  /* Blue steel */
  /* #cbe7ee */
  /* --base-color: hsl(192, 51%, 90%);
  --primary-color: hsl(192, 51%, 80%);
  --secondary-color: hsl(193, 13%, 48%);
  --tertiary-color: hsl(192, 19%, 31%);
  --heading-color: hsl(190, 39%, 15%);
  --bg-color: hsl(0, 0%, 98%);
  --cta-color: rgb(24, 206, 176);
  --cta-hover-color: hsl(192, 50.7%, 40.5%); */
  --color-60-lighter: rgb(255, 255, 255);
  --color-60-light: hsl(124, 80%, 96%);
  --color-60-medium-light: #3a3c4b;
  --color-60-medium: hsl(232, 17%, 17%);
  --color-60-medium-dark: hsl(233, 16%, 14%);
  --color-60-dark: #171820;
  --color-30-1: rgba(255, 255, 255, 0.795);
  --color-10-1: #ec4e20;
  --color-10-1-lighter: #fa5d2f;

  --color-illustration: rgb(99, 41, 196);
  --color-illustration-light: hsl(262, 65%, 60%);

  /* Overlay Colours */
  --initial-color-overlay: rgba(31, 31, 31, 0.4);
  --mid-colour-overlay: rgba(31, 31, 31, 0.6);
  --final-colour-overlay: rgb(31, 31, 31);

  /* Card Colours */
  --card-bg-color: var(--color-60-dark);
  --card-header-color: #ffffff;
  --card-text-color: #ffffffd2;

  /* FAQ Colours */
  --faq-bg-color: hsla(0, 0%, 12%, 0.8);
  /* Project Card Colors */
  --project-card-header-color: rgba(255, 255, 255, 0.9);
  --project-card-description-color: rgba(255, 255, 255, 0.8);
  --project-card-tech-color: rgba(255, 255, 255, 0.55);
  --project-card-tech-border-color: rgba(255, 255, 255, 0.4);
  /* Project Card Sec CTA */
  --project-button-sec-bg-color: var(--color-60-medium);
  --project-button-sec-bg-color-active: var(--color-60-medium-dark);
  --project-button-sec-text-color: rgba(255, 255, 255, 0.75);
}
/*////////////////*/
/* FOCUS COLOURS */
/*//////////////*/
/* CTA buttons have a focus shadow lighter than thier bg colour for clear colour differentiation */
.landing-cta-1:focus,
.landing-cta-2:focus {
  box-shadow: 0 0 0 3px #fcb6a1;
}

/* REVISIT AND REFACTOR COLOURS USING CALC
  https://itnext.io/theming-with-css-custom-properties-variables-and-calc-a89b37ad0013*/

/* DARK THEME */
/* [data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
} */
body {
  background-color: var(--color-60-medium);
  color: var(--color-60-light);
  scrollbar-color: rgb(83, 83, 83) #333;
}

body::-webkit-scrollbar {
  color: #333;
}

body::-webkit-scrollbar-track {
  background: #333;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(83, 83, 83);
  border-radius: 6px;
}

header {
  background-color: var(--color-60-dark);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease-out;
}

p {
  color: var(--color-60-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-60-light);
}
/*/////////////////*/
/* SCROLL EFFECTS */
/*///////////////*/
/* HIDE/SHOW HEADER */
.visible {
  visibility: visible;
  opacity: 1;
}

/* DARKEN BG CONTAINER */
.color-overlay-container {
  background-color: var(--initial-color-overlay);
  filter: blur(0px);
  transition: background-color 2s ease-out;
}

.color-overlay-container.saturate {
  background-color: var(--mid-colour-overlay);
  transition: background-color 1s linear;
}

/*BLUR BG*/
.blur {
  filter: blur(3px);
  transition: filter 2s ease-out;
}

/* DARKEN BG CONTAINER when contact button is in view*/
.darkenContact {
  background-color: var(--final-colour-overlay) !important;
}

/* HEADER */
header {
  box-shadow: 0px 2px 10px rgba(236, 78, 32, 0.05);
}

/* LANDING */
.landing-title,
.landing-description {
  color: var(--color-60-light);
}
.animated-goal {
  animation: fadeInSlide 0.5s ease-in infinite;
  position: relative;
}

.goals {
  color: var(--color-30-1);
}
/*/////////////////////////*/
/* CALL TO ACTION BUTTONS */
/*///////////////////////*/
/* .project-site, */
.contact-button,
.get-in-touch,
.case-launch-button,
.landing-cta-1 {
  color: var(--color-60-light);
  background-color: var(--color-10-1);
}

.free-ribbon {
  background-color: var(--color-illustration);
}

.view-projects-container {
  color: var(--color-10-1);
}

.view-projects-icon-container {
  color: var(--color-10-1);
  border-color: var(--color-10-1);
}

.email-field {
  background-color: var(--color-60-light);
  color: var(--color-60-medium-dark);
  opacity: 0.9;
}

.email-field:hover {
  opacity: 1;
}

/* //////////////////////// */
/* Case Study landing page */
/* //////////////////////// */
.launch-project {
  background-color: var(--color-illustration);
}

.launch-project:hover {
  background-color: var(--color-illustration-light);
}

.case-specs-info div > h3 {
  color: var(--color-10-1);
}

.get-in-touch-container {
  background-color: var(--color-60-dark);
}

.display-container {
  background-color: var(--color-60-medium-light);
}

/* .project-site:hover, */
.contact-button:hover,
.get-in-touch:hover,
.landing-cta-1:hover {
  background-color: var(--color-10-1-lighter);
}

.reply-indicator {
  color: var(--color-30-1);
}

/* This is for the 2nd cta button and the unused projects component */
.landing-cta-2
/* .project-code */ {
  border-color: var(--color-60-light);
  background-color: none;
  color: var(--color-60-light);
}

.landing-cta-2:hover {
  background-color: var(--color-60-light);
  color: var(--color-60-dark);
}
/*////////*/
/* ICONS */
/*//////*/
.icon:hover {
  opacity: 1;
  transform: scale3d(1.1, 1.1, 1);
}

.benefit-icon {
  background-color: var(--color-60-medium);
}

/*/////////////////////*/
/* LANDING CONTAINER */
/*///////////////////*/
.landing-container {
  background-color: var(--color-60-dark);
}

/*/////////////////////*/
/* PERSONAL CONTAINER */
/*///////////////////*/
.personal-container {
  background-color: var(--color-60-medium-dark);
}
/*/////////////////////*/
/* SERVICE CONTAINER */
/*///////////////////*/
.service-container {
  background-color: var(--color-60-dark);
}

/*/////////////////////*/
/* BENEFITS CONTAINER */
/*///////////////////*/
.benefits-container {
  background-color: var(--color-60-medium-dark);
}

/*/////////////////////*/
/* SITE REVIEW CONTAINER */
/*///////////////////*/
.site-review-container {
  background-color: var(--color-60-dark);
}

/*/////////////////////*/
/* FAQS CONTAINER */
/*///////////////////*/
.faqs-container {
  background-color: var(--color-60-medium-dark);
}

.faqs-container li {
  background-color: var(--color-60-medium);
}

/*/////////////////////*/
/* CONTACT CONTAINER */
/*///////////////////*/
.contact-container {
  background-color: var(--color-60-dark);
}
/*////////*/
/* CARDS */
/*//////*/
.card-color {
  background-color: var(--color-30-1);
}

.card-color p {
  color: var(--color-60-medium-dark);
}

.card-color h6 {
  color: var(--color-60-dark);
}

.text-link {
  color: var(--color-10-1);
}

.text-link:hover {
  color: var(--color-10-1-lighter);
}

.service-card {
  background-color: var(--card-bg-color);
}

.service-card .icon-container {
  background-color: var(--card-header-color);
}

.service-card .icon-container svg {
  color: var(--color-60-dark);
}

.service-card-icon {
  color: var(--card-header-color);
}

.service-card h6 {
  color: var(--card-header-color);
}

.service-card p {
  color: var(--card-text-color);
}

/*/////////////*/
/* LIST ITEMS */
/*///////////*/
.promises-container div {
  counter-increment: promise-counter;
}

.promise-header-container .counter {
  padding: 0.1em 0.5em;
  width: 2em;
  height: 2em;
  background-color: var(--color-10-1);
  color: var(--color-60-lighter);
}

.benefit-icon {
  color: var(--color-10-1);
}

/*/////////////////////////*/
/* //////PROJECT CARDS/// */
/*///////////////////////*/
.project-container {
  background-color: var(--color-60-medium-dark);
}

.project-container h2 {
  color: var(--project-card-header-color);
}

.project-container p {
  color: var(--project-card-description-color);
}

.project-site-link {
  color: var(--color-60-light);
  background-color: var(--color-illustration);
}
.project-site-link:hover,
.project-site-link:focus {
  color: var(--color-60-light);
  background-color: var(--color-illustration-light);
}

.project-code-link {
  color: var(--project-button-sec-text-color);
  background-color: var(--project-button-sec-bg-color);
}

.project-code-link:hover,
.project-code-link:focus {
  color: var(--project-button-sec-text-color);
  background-color: var(--project-button-sec-bg-color-active);
}

.project-tech-container {
  color: var(--project-card-tech-color);
}

.project-tech-container a {
  border-color: var(--project-card-tech-border-color);
}

.tech-link:hover,
.tech-link:focus {
  border-color: var(--color-10-light);
  color: var(--color-10-light);
}

/*//////////*/
/* TOOLBOX */
/*////////*/
/*Tool*/
.tool {
  background-color: var(--color-60-light);
  color: var(--color-60-medium-dark);
}

summary::-webkit-details-marker {
  display: none;
}
summary::before {
  font-size: 1.5em;
  padding: 0 0.5rem 0 0;
}

details p {
  color: var(--color-60-light);
}

.open summary::before {
  color: var(--color-10-1-lighter);
}

.open summary {
  color: var(--color-10-1-lighter);
}

svg {
  transition: transform 0.2s ease-in;
}

.open svg {
  transform: rotate(180deg);
}

/* QUOTES */
.quotes-container {
  border-color: var(--color-30-1);
}

.quotes-container span {
  border-color: var(--color-30-1);
}

/* FOOTER */

/* ANIMATION */
@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translate3d(0, 15%, 0);
  }

  25% {
    opacity: 0.25;
    transform: translate3d(0, 11.25%, 0);
  }

  50% {
    opacity: 0.5;
    transform: translate3d(0, 7.5%, 0);
  }

  75% {
    opacity: 0.75;
    transform: translate3d(0, 3.75%, 0);
  }

  100% {
    opacity: 1;
    tranform: translate3d(0, 0%, 0);
  }
}
