:root {
  /* Dark blue Purple */
  /* #396AB2 */

  /* Blue steel */
  /* #cbe7ee */
  /* --base-color: hsl(192, 51%, 90%);
  --primary-color: hsl(192, 51%, 80%);
  --secondary-color: hsl(193, 13%, 48%);
  --tertiary-color: hsl(192, 19%, 31%);
  --heading-color: hsl(190, 39%, 15%);
  --bg-color: hsl(0, 0%, 98%);
  --cta-color: rgb(24, 206, 176);
  --cta-hover-color: hsl(192, 50.7%, 40.5%); */
  --color-60-lighter: hsl(124, 80%, 100%);
  --color-60-light: hsl(124, 80%, 96%);
  --color-60-medium: #313131;
  --color-60-dark: #212121;
  --color-30-1: rgba(255, 255, 255, 0.795);
  --color-10-1: hsl(141, 69%, 54%);
  --color-10-1-lighter: hsl(141, 87%, 64%);

  /* Overlay Colours */
  --initial-color-overlay: hsl(0, 0%, 13%, 0.6);
  --final-colour-overlay: rgba(33, 33, 33, 0.952);
}

/* REVISIT AND REFACTOR COLOURS USING CALC
  https://itnext.io/theming-with-css-custom-properties-variables-and-calc-a89b37ad0013*/

/* DARK THEME */
/* [data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
} */

body {
  background-color: var(--color-60-dark);
  color: var(--color-60-light);
}

header {
  background-color: var(--color-60-dark);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease-out;
}

p {
  color: var(--color-60-light);
}

h1,
h,
h3,
h4,
h5,
h6 {
  color: var(--color-60-light);
}
/*/////////////////*/
/* SCROLL EFFECTS */
/*///////////////*/
/* HIDE/SHOW HEADER */
.visible {
  visibility: visible;
  opacity: 1;
}

/* DARKEN BG CONTAINER */
.color-overlay-container {
  background-color: var(--initial-color-overlay);
  filter: blur(0px);
  transition: background-color 2s ease-out;
}

.color-overlay-container.saturate {
  background-color: var(--final-colour-overlay);
  transform: scale3d(1.1, 1.1, 1);
  transition: background-color 1s linear;
}

/*BLUR BG*/
.blur {
  filter: blur(3px);
  transition: filter 2s ease-out;
}

/* HEADER */
.brand-color {
  background-color: var(--color-10-1);
}

/* LANDING */
.landing-title,
.landing-description {
  color: var(--color-60-light);
}
.animated-goal {
  animation: fadeInSlide 0.5s ease-in infinite;
  position: relative;
}

.goals {
  color: var(--color-30-1);
}
/*/////////////////////////*/
/* CALL TO ACTION BUTTONS */
/*///////////////////////*/
/* .project-site, */
.contact-button,
.landing-cta-1 {
  color: var(--color-60-light);
  background-color: var(--color-10-1);
}

.email-field {
  background-color: var(--color-60-light);
  color: var(--color-60-medium);
  opacity: 0.9;
}

.email-field:hover {
  opacity: 1;
}

/* .project-site:hover, */
.contact-button:hover,
.landing-cta-1:hover {
  background-color: var(--color-10-1-lighter);
}

/* This is for the 2nd cta button and the unused projects component */
.landing-cta-2
/* .project-code */ {
  border-color: var(--color-60-light);
  background-color: none;
  color: var(--color-60-light);
}

.landing-cta-2:hover {
  background-color: var(--color-60-light);
  color: var(--color-60-dark);
}
/*////////*/
/* ICONS */
/*//////*/
.icon:hover {
  color: var(--color-60-lighter);
}

/*////////*/
/* CARDS */
/*//////*/
.card-color {
  background-color: var(--color-30-1);
}

.card-color p {
  color: var(--color-60-medium);
}

.card-color h6 {
  color: var(--color-60-dark);
}

.text-link {
  color: var(--color-10-1);
}

.text-link:hover {
  color: var(--color-10-1-lighter);
}

.service-card svg {
  color: var(--color-60-medium);
}
/*/////////////*/
/* LIST ITEMS */
/*///////////*/
.promises-container div {
  counter-increment: promise-counter;
}

.promises-container div h6:before {
  content: counter(promise-counter);
  padding: 0.1em 0.5em;
  background-color: var(--color-30-1);
  color: var(--color-60-medium);
  border-radius: 100%;
  text-align: center;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  font-size: 75%;
}

.benefit-icon {
  color: var(--color-10-1);
}
/*//////////*/
/* TOOLBOX */
/*////////*/
/*Tool*/
.tool {
  background-color: var(--color-60-light);
  color: var(--color-60-medium);
}

/* FAQ */

summary::-webkit-details-marker {
  display: none;
}
summary::before {
  content: "+";
  color: var(--color-30-1);
  font-size: 1.5em;
  padding: 0.5em;
}

summary {
  color: var(--color-30-1);
}

details p {
  color: var(--color-60-light);
}

.open summary::before {
  content: "-";
  color: var(--color-60-light);
}

.open summary {
  color: var(--color-60-1);
}

/* ANIMATION */
@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translate3d(0, 15%, 0);
  }

  25% {
    opacity: 0.25;
    transform: translate3d(0, 11.25%, 0);
  }

  50% {
    opacity: 0.5;
    transform: translate3d(0, 7.5%, 0);
  }

  75% {
    opacity: 0.75;
    transform: translate3d(0, 3.75%, 0);
  }

  100% {
    opacity: 1;
    tranform: translate3d(0, 0%, 0);
  }
}
