@tailwind base;

/*////////*/
/*General*/
/*//////*/

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
}

/* SPECIAL FOCUS BORDER AND COLOUR */
a:focus,
summary:focus,
.serviceCards-container:focus {
  @apply outline-none;
  @apply shadow-outline;
}

/* ///////////// */
/* LINE HEIGHTS */
/* /////////// */
.landing-children p {
  line-height: 1.75;
}

/* /////////////// */
/* FONT FAMILIES */
/* //////////// */
html {
  scroll-behavior: smooth;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.landing-children h3,
.landing-children h4,
.landing-children h5 {
  font-weight: bold;
}

/* Font black is a font weight of 900 */
/* Leading-none sets line-height to 1 to tighten things up */
.landing-children h1,
.landing-children h2 {
  @apply font-black;
  @apply leading-none;
}

/* //////////////// */
/* BASE FONT SIZES */
/* ///////////// */
.landing-title {
  @apply text-7xl;
}
.landing-description {
  @apply text-2xl;
}

.landing-cta-1,
.email-field {
  @apply text-2xl;
}

/* Section Headers */
.landing-children h2 {
  @apply text-6xl;
}

/* General Elements */
summary,
a {
  cursor: pointer;
}

.btn {
  @apply block px-12 py-4 rounded my-6;
}

.quote,
.landing-cta-2,
.cta,
.landing-children li {
  @apply text-base;
}

.landing-children h3,
.landing-children summary {
  @apply text-2xl;
}

.contact-button {
  @apply text-3xl;
}

.header-contact-button {
  @apply text-xs !important;
}

.absolute-important {
  position: absolute !important;
}

/* Icons */
.icon {
  @apply text-lg;
}
.view-projects-container {
  @apply border-2 text-xl;
  border-color: var(--color-10-1);
}

.view-projects-container svg {
  @apply absolute;
  transition: all 0.2s ease-in;
  @apply opacity-0;
  transform: translate3d(-200%, 0, 0);
}

.view-projects-container:hover svg {
  @apply opacity-100;
  transform: translate3d(-100%, 0, 0);
}

.landing-icons-container a {
  @apply my-3;
}

/* SPECIFIC SECTIONS */
.personal-description-container {
  @apply py-12;
}

/*//////////////////*/
/* FLUID TYPOGRAPHY */
/*//////////////////*/
@screen md {
  /* General Elements */
  .quote,
  .landing-cta-2,
  .cta,
  .landing-children li {
    @apply text-lg;
  }

  /* Smaller headers and main points */
  .landing-children h3,
  summary {
    @apply text-2xl;
  }

  .contact-button {
    @apply text-4xl;
  }

  /* Icons */
  .icon {
    @apply text-xl;
  }
}

/* GENERAL GLOBAL ELEMENTS */

@screen lg {
  /* General Elements */
  .quote,
  .landing-cta-2,
  .cta,
  .landing-children li {
    @apply text-xl;
  }

  /* Smaller headers and main points */
  .landing-children h3,
  summary {
    @apply text-3xl;
  }

  /* Icons */
  .icon {
    @apply text-2xl;
  }
}
/* 
@media screen and (min-width: 1400px) {
  html {
    font-size: 24px;
  }
} */

@tailwind components;
@tailwind utilities;
@import "../styles/colors.css";
@import "../styles/projects.css";
@import "../styles/blog.css";
@import "../styles/animations.css";
@import "../styles/newsletter-success.css";
