/* Prevents image from overflowing the first grid row in the projects cards */
.project-image-container div {
  height: -moz-available;
  height: -webkit-fill-available;
}

.project-image-container {
  padding-bottom: inherit;
}

.project-tech-widget {
  padding: 0.25em 0.5em;
}
