/* Prevents image from overflowing the first grid row in the projects cards */
.project-image-container div {
  height: -webkit-fill-available;
}

.project-image-container {
  padding-bottom: inherit;
}

.tech-link {
  padding: 0.25em 0.5em;
}

.project-buttons-container a {
  padding: 1em;
}
