:root {
  /* font-size: 12px;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-5: 3rem;
  --space-6: 3.5rem;
  --space-7: 4rem;
  --space-8: 4.5rem;
  --space-9: 5rem;
  --space-10: 5.5rem;
  --space-10: 6rem; */

  /* REVISIT AND REFACTOR COLOURS USING CALC
  https://itnext.io/theming-with-css-custom-properties-variables-and-calc-a89b37ad0013*/
}

/* Landing Call to Action buttons */
.landing-cta-1,
.project-site,
.contact-button {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 90%);
}

.landing-cta-1:hover,
.project-site:hover,
.contact-button:hover {
  background-color: hsl(0, 0%, 30%);
}

.landing-cta-2,
.project-code {
  border-color: hsl(140, 85%, 43%);
  background-color: none;
  color: hsl(140, 74%, 49%);
}

.landing-cta-2:hover,
.project-code:hover {
  background-color: hsl(140, 85%, 43%);
  color: hsl(0, 0%, 100%, 0.85);
}

/* CARDS */
.card-color {
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 0%);
}

.text-link {
  color: hsl(140, 84%, 43%);
}

.text-link:hover {
  color: hsl(140, 84%, 27%);
}

/* LIST ITEMS */
.promise-container div,
.benefit-container div {
  counter-increment: promise-counter;
}

.promise-container div h6:before,
.benefit-container div h6:before {
  content: counter(promise-counter);
  padding: 0.1rem 0.5rem;
  background-color: hsl(140, 85%, 43%);
  color: white;
  border-radius: 100%;
  text-align: center;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

/* TOOLBOX */
/*Tool*/
.tool {
  background-color: hsl(140, 85%, 43%);
  color: hsl(0, 0%, 100%, 0.85);
}
