.toggleSwitchWrapper button {
  /* transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; */
  transition: all 0.3s ease-out;
}

.toggleArea {
  padding: 1.125em 1em;
}

/* Colors are taken from colors.css - mostly from the project cards colours due to this toggle switch currently being used on the projects page */
.active {
  background-color: var(--color-illustration);
  color: rgba(255, 255, 255);
}

.inactive {
  background-color: var(--color-60-dark);
  color: rgba(255, 255, 255, 0.4);
}

.active:hover,
.active:active {
  background-color: var(--color-illustration-light);
}

.inactive:hover,
.inactive:active {
  background-color: var(--color-60-medium-dark);
}

.active:focus {
  outline-color: var(--color-illustration);
}

.inactive:focus {
  outline-color: var(--color-illustration);
  outline-width: 2px;
}
